
# Example crontab to backup DUCC database

# -----------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
# -----------------------------------------------------------------------

DB_TOOL=/home/ducc/ducc_runtime/admin/db_tool
DB_BKDIR=/backups/ducc/backup_db

# Revise the day-of-week backup each day at 3:30 AM

30 3 * * 0 $DB_TOOL --save-overwrite $DB_BKDIR/Sun.tar.gz 1>$DB_BKDIR/Sun.backup.log 2>&1
30 3 * * 1 $DB_TOOL --save-overwrite $DB_BKDIR/Mon.tar.gz 1>$DB_BKDIR/Mon.backup.log 2>&1
30 3 * * 2 $DB_TOOL --save-overwrite $DB_BKDIR/Tue.tar.gz 1>$DB_BKDIR/Tue.backup.log 2>&1
30 3 * * 3 $DB_TOOL --save-overwrite $DB_BKDIR/Wed.tar.gz 1>$DB_BKDIR/Wed.backup.log 2>&1
30 3 * * 4 $DB_TOOL --save-overwrite $DB_BKDIR/Thu.tar.gz 1>$DB_BKDIR/Thu.backup.log 2>&1
30 3 * * 5 $DB_TOOL --save-overwrite $DB_BKDIR/Fri.tar.gz 1>$DB_BKDIR/Fri.backup.log 2>&1
30 3 * * 6 $DB_TOOL --save-overwrite $DB_BKDIR/Sat.tar.gz 1>$DB_BKDIR/Sat.backup.log 2>&1
